{% extends 'baseuser.html' %}

{% block title %}{% endblock %}

{% block content %}


<style>
    .content{
        text-align: justify;
    }
    .head{
        text-align: left;
    }
 
</style>
<br><br>
      <div class="pg-container  d-flex flex-column justify-content-center main">
        <div class="row  p-5">
            <div class=" gradient col-12 col-md-6  order-2 order-md-1 text-center d-flex flex-column justify-content-center">
                <h1>Let food be the medicine </h1>
                    <p class=" text-dark pt-2 content">In a world where millions suffer from hunger and malnutrition, the staggering paradox of food waste persists. Every day, vast amounts of food are discarded, contributing to environmental degradation, economic inefficiency, and social injustice. It's time to confront this issue head-on and embrace a culture of mindful consumption. Here's why wasting food is a problem and what we can do about it:</p>
                    <h3 class="head" style="color: aqua;">The Impact of Food Waste:</h3>
                    <p class="text-white head">Practice Mindful Consumption</p>
                    <ul class="text-white head">
                        <li> Plan Meals: Create shopping lists and meal plans to avoid overbuying and ensure that perishable items are used before they spoil.</li>
                        <li>Embrace Imperfection: Don't judge food based on appearance alone. Embrace "ugly" produce and imperfect items to reduce waste in the supply chain.</li>
                    </ul>
                    <h5 style="color: aqua;" class="head">Conclusion:</h5>
                    <p class="text-white head">Food waste is a multifaceted problem with far-reaching implications for the environment, economy, and society. By adopting a mindset of mindful consumption and advocating for systemic change, we can collectively address this issue and move towards a more sustainable and equitable future. Let's commit to the mantra: "Don't waste food; cherish it, share it, and savor it responsibly</p>
                    <div class="text-center">
                                                               
                                        <button type="button" class="text-white btn btn-outline-warning m-3">
                                            View More
                                        </button>
                                        
                                      
                                      
    
                        <a href="/donate"><button class=" text-white btn btn-outline-info  " >Donate Food</button></a>
                    </div>
                  
            </div>
            <div class="col-12 col-md-6 text-center order-1 order-md-2">
                
                <img src="https://i.ibb.co/gzDHTHS/hi-removebg-preview.png" style="width: 100%" class="big-piza" alt="">
                
            </div>
        </div>
    </div>


{% endblock %}



